* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorPrincipal {
    width: 100%;
    max-width: 768px;
}

/*CONTENEDOR IMAGEN LOCAL*/

.contenedorImgLocal {
    position: relative;
    width: 100%;
    height: 230px;
}

.imgLocal {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.contenedorLogo {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 100px;
    width: 100%;
}

.imgLogo {
    height: 100%;
    width: 100%;
}

/*---------------------------------------------------------*/

/*BOTON CARTA PRINCIPAL*/

.contenedorBotonCarta {
    width: 100%;
    height: 40px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin-top: -25px;
    background-color: white;
    border-radius: 100% 100% 0 0;
    position: relative;
    z-index: 99;
}

.botonCarta {
    font-size: 1rem;
    font-weight: bold;
    width: 65%;
    padding: 10px 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.3)
}

/*---------------------------------------------------------*/

/*CONTENEDOR DE PROMOCIONES*/

.contenedorPromos,
.contenedorCarta,
.contenedorVariedades {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorPromos h2,
.contenedorCarta h2 {
    margin: 5px 0 10px 0;
}

.contenedorImgPromo {
    width: 85%;
    height: 200px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

.contenedorImgPromo img,
.contenedorImgCarta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.contenedorPromos p,
.contenedorCarta p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(227, 228, 237, 0.5));
}

/*---------------------------------------------------------*/

/*FOOTER*/

footer {
    background-color: #333;
    color: #fff;
    margin-top: 15px;
    padding: 20px;
    text-align: center;
}

.contenedorRedes {
    display: flex;
    justify-content: center;
}

.iconosRedes {
    width: 35px;
    margin: 20px 25px;
    cursor: pointer;
    filter: invert();
}

/*---------------------------------------------------------*/

.contenedorImgCarta {
    text-align: center;
    width: 85%;
    height: 80px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

/* CONTENEDOR VARIEDADES -------------------------------- */

.contenedorBlack {
    position: relative;
    background-color: #333;
    width: 100%;
    height: 65px;
}

.contenedorVariedades h2 {
    margin: 10px 0 5px 0;
}

.divider {
    width: 70%;
    height: 2px;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 15px 0;
}

.contenedorVariedadI {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedorVariedadD{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.contImgVariedadI {
    width: 30%;
    overflow: hidden;
    margin-left: 10px;
    filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, 0.4));
}

.contImgVariedadD {
    width: 30%;
    overflow: hidden;
    margin-right: 10px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}

.imgPlato {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contTextoVariedadI {
    width: 60%;
    text-align: end;
    margin-right: 15px;
}

.contTextoVariedadD {
    width: 60%;
    text-align: start;
    margin-left: 15px;
}

.plato {
    font-size: 1.2rem;
}

.ingredientes {
    font-size: 1rem;
}

.precio {
    font-size: 1.1rem;
    font-weight: bold;
}

/*---------------------------------------------------------*/